# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456789
DB_NAME=golf_bookr

# JWT Configuration
JWT_SECRET=cJdKydww2eBbe/oHjHe0OmFJ7Ty/w1xlPG4dUJKgTEk=

# API Keys
GEMINI_API_KEY=AIzaSyCcuN-hTPvZWmy9ZItofvOhIjgiDkLH9CQ
# Client URL
CLIENT_URL=http://localhost:5173
